# Copy this file to .env and fill the values

# Base URL where NocoDB is hosted
nocodb_url=http://localhost:8080

# API auth token from NocoDB
nocodb_auth_token=your-nocodb-token

# Name of the NocoDB project (workspace/base)
nocodb_project_name=your-project-name

# Table where rows will be uploaded
nocodb_table_name=your-table-name

# Path to JSON file that will be imported
nocodb_upload_file_path=./data.json

# Your Telegram bot token
telegram_bot_token=your-telegram-token
